<% @comments.each do |comment| %>
    <p><b><%= User.where('ID = ?',comment.user_id).pluck(:email).flatten.join('') %></b></p>
    <p><%= comment.body %></p>
    <% if current_user.id == comment.user_id%>
        <%= link_to 'Delete', [comment.dailyform, comment], method: :delete %>
        <%= link_to 'Edit', edit_dailyform_comment_path(comment.dailyform, comment) %>
    <% end %>
<% end %>
<%= render 'comments/form' %>