- disable_tomorrow = date >= Date.today
.dailyform__date-picker.float-right
  = link_to fa_icon('chevron-left'), dailyform_path(date - 1.day)
  .dailyform__date
    = date.strftime('%b %-d, %Y')
  %button.fa.fa-calendar
  = link_to fa_icon('chevron-right'), (disable_tomorrow ? '' : dailyform_path(date + 1.day)), class: "#{'text-muted disabled' if disable_tomorrow}"

#calendar
  = month_calendar do |date|
    - if date.future?
      = date.day
    - else
      = link_to date.day , dailyform_path(date)