#show
  %h1= @user.email
  %table
    %thead
      %tr
        %th Date
        %th Yesterday
        %th Today
        %th Blockage
        %th Comment
    %tbody
      - @dailyforms.each do |dailyform|
        %tr
          %td= dailyform.date.strftime('%b %-d, %Y')
          %td= dailyform.yesterday
          %td= dailyform.today
          %td= dailyform.blockage
          %td= link_to 'comment', admin_dailyform_comment_path(dailyform.id)

= will_paginate @dailyforms